@import "nib"

//generales
colorPrincipal=white
verdeClaro=#87af3b
verdeOscuro=#035b31
grisOscuro=#474646
grisClaro=#e5e5e5

//Google Fonts PT Sans Narrow
sansNarrow()
	font-family: 'PT Sans Narrow', sans-serif !important
	
body
	background #eaeaea !important
	sansNarrow()
	font-size 16px
	
body, h1,h2,h3,h4,h5,h6,.accordion .accordion-navigation > a, .accordion dd > a
	sansNarrow()
	color #474646


.btn
	font-size 1em
	font-weight bold
	-webkit-border-radius 1em
	border-radius 1em
	padding 0.4em 2em
	background-color #ed5565;
	color #fff
	&:hover
		background #da4453
    	
/////HEADER
.mostrarDatos
	header
		background colorPrincipal
		h1
			color #007736
			text-align center
			font-size 30px
	table
		tr:hover
			background rgba(colorPrincipal,0.1)
	